<div fxLayout="row" fxLayoutAlign=" left" style="margin-top: 10px">
    <div id="divChart">
        <canvas id="myChart" width="500" height="400" #myChart></canvas>
    </div>
    <div id="divChart">
        <canvas id="countMemberOfDepartment" width="500" height="400" #countMemberOfDepartment></canvas>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="left" style="margin-top: 50px">
    <div id="divChart">
        <canvas id="countComputersOfSo" width="700" height="400" #countComputersOfSo></canvas>
    </div>
    <div id="divChart">
        <canvas id="countEmployments" width="700" height="400" #countEmployments></canvas>
    </div>
</div>


