<h1 mat-dialog-title *ngIf="showConfirmation">Cambio de Contraseña</h1>
<h1 mat-dialog-title *ngIf="!showConfirmation">Nueva Contraseña</h1>
<div mat-dialog-content>
    <p *ngIf="showConfirmation">Está seguro de cambiar la contraseña a {{data.firstName}} {{data.lastName}}?</p>
    <span *ngIf="!showConfirmation">La nueva contraseña es: <div style="font-weight: bold; font-size: 16px">{{password}}</div></span>

</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="cambiarContrasena()" *ngIf="showConfirmation">Aceptar</button>
    <button mat-button (click)="closeModal()" *ngIf="showConfirmation">Cancelar</button>
    <button mat-raised-button color="primary" (click)="closeModal()" *ngIf="!showConfirmation">OK</button>
</div>
