<h1 mat-dialog-title>Editar Usuario</h1>
<form [formGroup]="registerForm" (ngSubmit)="editUser()">
    <div mat-dialog-content>
        <div fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="16px">
            <mat-form-field>
                <input type="text" matInput placeholder="Username" formControlName="username" [disabled]="true">
            </mat-form-field>
        </div>

        <div fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="16px">
            <mat-form-field>
                <input type="text" matInput placeholder="Nombre" formControlName="firstName">
                <mat-error *ngIf="registerForm.get('firstName').hasError('required')">
                    Nombre es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput placeholder="Apellido" formControlName="lastName">
                <mat-error *ngIf="registerForm.get('lastName').hasError('required')">
                    Apellido es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="16px">
            <mat-form-field>
                <input type="text" matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="registerForm.get('email').hasError('required')">
                    Email es <strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="registerForm.get('email').hasError('email')">
                    Debe ingresar un Email válido.
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput placeholder="Rut" formControlName="rut" formatRut>
                <mat-error *ngIf="registerForm.get('email').hasError('required')">
                    Rut es <strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="registerForm.get('rut').hasError('invalidRut')">
                    Rut incorrecto
                </mat-error>
            </mat-form-field>
        </div>


        <div fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="16px">
            <mat-form-field>
                <mat-label>Puesto</mat-label>
                <mat-select formControlName="employment" [errorStateMatcher]="matcher">
                    <mat-option *ngFor="let group of employments" [value]="group.value">
                        {{group.description}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="registerForm.get('employment').hasError('required')">
                    Debe seleccionar un <strong>Puesto</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Departamento</mat-label>
                <mat-select formControlName="department" [errorStateMatcher]="matcher">
                    <mat-option *ngFor="let group of departments" [value]="group.value">
                        {{group.description}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="registerForm.get('department').hasError('required')">
                    Debe seleccionar un <strong>Departamento</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="16px">
            <mat-form-field>
                <mat-label>Compañia</mat-label>
                <mat-select formControlName="company" [errorStateMatcher]="matcher">
                    <mat-option *ngFor="let company of companys" [value]="company.value">
                        {{company.description}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="registerForm.get('company').hasError('required')">
                    Debe seleccionar una <strong>Compañia</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Teléfono" formControlName="phoneNumber" maxlength="9" numbersOnly>
                <mat-error *ngIf="registerForm.get('phoneNumber').hasError('required')">
                    Teléfono es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="16px">
            <mat-form-field>
                <input type="text" matInput placeholder="Dirección" formControlName="streetAddress">
                <mat-error *ngIf="registerForm.get('streetAddress').hasError('required')">
                    Dirección es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-chip-list">
                <mat-label>Grupos</mat-label>
                <mat-chip-list #chipList aria-label="Seleccione Grupos">
                    <mat-chip
                            *ngFor="let group of groups"
                            [selectable]="selectable"
                            [removable]="removable"
                            (removed)="remove(group)">
                        {{group}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input
                            #fruitInput
                            [formControl]="userGroups"
                            [matAutocomplete]="auto"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                        {{fruit}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions align="end">
        <button type="submit" mat-raised-button color="primary">Guardar</button>
        <button mat-button type="button" (click)="closeModal()">Cancelar</button>
    </div>
</form>
